@charset "utf-8";
@import url('../css/Pretendard.css');

::selection {
  background-color: #111725;
  color: #FFFFFF;
}
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{font-size:62.5%;}
body{font-size:1.4rem;}
html,body{width:100%;height:100%;
  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust : none;  /* IE */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  -o-text-size-adjust : none;  /* 오페라 구버전 */
}
body, th, td, input, select, textarea, button, code, kbd, pre, samp {
  font-family: 'pretendard', "-apple-system", BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", Roboto, Helvetica, Arial, sans-serif;
  color: #444;
  line-height:1.4;
}

ul, ol, dl {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal;
}
strong{
  font-weight:600;
}
b {
  font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}
a:active, a:hover {
    text-decoration: none;
}
img{max-width:100%;}
input[type="text"],input[type="password"],textarea{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;}
select{border-radius:0;}
.hide {
  display: none
}
button{cursor:pointer;}
input:-webkit-autofill{-webkit-box-shadow: 0 0 0 1000px transparent inset;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{transition: background-color 5000s ease-in-out 0s !important;}
.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";}
.clearfix:after{clear: both;}

/* vertical align */
.align_top{vertical-align:top}
.align_middle{vertical-align:middle}
.align_bottom{vertical-align:bottom}

/* text align */
.align_center{text-align:center !important}
.align_left{text-align:left !important}
.align_right{text-align:right !important}

/* display */
.hide {display:none !important;}
.screen_hide{position: absolute;text-indent: -9999px;width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  border: 0 !important;
  overflow: hidden !important
}

#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}
.d_block{displaY:block !important}
.bold{font-weight:600;}
label{cursor:pointer;}
input:read-only{cursor: default;}
input:read-only:focus{outline: none;}
.container {max-width:1000px;margin-left:auto;margin-right:auto;}
.container:after{clear: both;display: table;content: "";*display: block;*overflow: hidden}
.container:before{display: table;content: "";*display: block;*overflow: hidden}
.semibold{font-weight:500 !important}
.checkbox{position: relative;overflow: hidden;display: inline-block;color:#555C6C;font-size:1.3rem;padding-left:2rem;min-height: 1.6rem;}
.checkbox strong{color:#555C6C;font-weight:600;}
.checkbox input{position:absolute;left:-999em;}
.checkbox .ck_icon{background-position: center center;background-repeat: no-repeat;position:absolute;left:0;top:0;width:1.6rem;height:1.6rem;background-color: #fff;}
.checkbox input[type="checkbox"] + .ck_icon{border-radius:0.3rem;border:1px solid #C9CCDA;}
.checkbox input[type="checkbox"]:checked + .ck_icon{border:0;background-color:#437EE7;background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1 3.735 7 1 3.883' stroke='%23fff' style='stroke:%23fff;stroke-opacity:1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
.checkbox input[type="radio"] + .ck_icon{border-radius:50%;border:1px solid #C9CCDA;}
.checkbox input[type="radio"]:checked + .ck_icon{border:4px solid #437EE7;}

.checkbox input[type="checkbox"]:disabled + .ck_icon{background-color: #f5f5f5;border:1px solid #D8D8D8;}
.checkbox input[type="checkbox"]:disabled:checked + .ck_icon{background-color: #D8D8D8;}
.checkbox input[type="radio"]:disabled + .ck_icon{background-color: #f5f5f5;}
.checkbox input[type="radio"]:disabled:checked + .ck_icon{border-color:#ccc;background-color: #fff;}

.checkbox.inline{margin-right:2.4rem;margin-top:0.2rem;margin-bottom:0.2rem;}
.checkbox.inline.between_sm{margin-right:1rem;}
.checkbox.inline.between_sm + .checkbox.inline.between_sm{margin-left:0;}
.checkbox.single{padding-left:1.6rem;}
.checkbox .circle_num{color:#868FA7;font-size:1.7rem;padding-left:0.4rem;position: relative;height:1.6rem;line-height:1.6rem;}
.checkbox .ox{color:#555C6C;font-size:1.5rem;padding-left:0.4rem;position: relative;height:1.8rem;line-height:1.8rem;display: inline-block;}m
.checkbox .text{color:#555C6C;font-size:1.7rem;padding-left:0.4rem;position: relative;height:1.6rem;line-height:1.6rem;}
.l{margin-right:auto;}
.r{margin-left:auto;}

html .simplebar-vertical .simplebar-scrollbar:before {background-color: rgba(0,0,0,.4);left: 4px;right: 3px;top: 5px;bottom: 5px;}
html .simplebar-horizontal .simplebar-scrollbar:before {background-color: rgba(0,0,0,.4);left: 2px;right: 5px;bottom: 3px;}

.mt_0{margin-top:0rem;}
.mt_5{margin-top:0.5rem;}
.mt_10{margin-top:1rem;}
.mt_15{margin-top:1.5rem;}
.mt_20{margin-top:2rem;}
.mt_25{margin-top:2.5rem;}
.mt_30{margin-top:3rem;}
.mb_0{margin-bottom:0rem;}
.mb_5{margin-bottom:0.5rem;}
.mb_10{margin-bottom:1rem;}
.mb_15{margin-bottom:1.5rem;}
.mb_20{margin-bottom:2rem;}
.mb_25{margin-bottom:2.5rem;}
.mb_30{margin-bottom:3rem;}
.mr_0{margin-right:0rem;}
.mr_5{margin-right:0.5rem;}
.mr_10{margin-right:1rem;}
.mr_15{margin-right:1.5rem;}
.mr_20{margin-right:2rem;}
.mr_25{margin-right:2.5rem;}
.mr_30{margin-right:3rem;}
.ml_0{margin-left:0rem;}
.ml_5{margin-left:0.5rem;}
.ml_10{margin-left:1rem;}
.ml_15{margin-left:1.5rem;}
.ml_20{margin-left:2rem;}
.ml_25{margin-left:2.5rem;}
.ml_30{margin-left:3rem;}
.mgt_16{margin-top:1.6rem !important;}
.mgt_24{margin-top:2.4rem !important;}

.text_red{color:#E14A4A !important}
.text_submit{color:#437EE7 !important}

html .pika-single{border:1px solid #D8D8D8;border-radius:0.8rem;overflow: hidden;}
html .pika-single.bottom-aligned{margin-top:0.5rem;}
html .pika-single.top-aligned{margin-top:-0.5rem;}
html .pika-single.is-bound{box-shadow:none;}
html .pika-label{padding-top:0;padding-bottom:0;margin:0 0.2rem;text-align:left;width:102px;height:40px;line-height:40px;font-weight:400;font-size:17px;color:#1d1d1d;background-color: transparent;background-position: right center;background-repeat: no-repeat;background-size:1.2rem;background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2 4 4 4 4-4' stroke='%23555' style='stroke:color(display-p3 .3333 .3333 .3333);stroke-opacity:1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
html .pika-label{padding-left:13px;background-position:right 13px center;}
html .pika-label + .pika-label{padding-left:24.5px;background-position:right 24.5px center;}

html .pika-title select{top:0;height:100%;width:100%;left:0;}
html .pika-prev{opacity:1;width:24px;height:24px;left:20px;text-indent:-999em;overflow:hidden;position:absolute;top:50%;margin-top:-12px;background-position:center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 3 5 8l5 5' stroke='%232D2D2D' style='stroke:color(display-p3 .1765 .1765 .1765);stroke-opacity:1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
html .pika-next{opacity:1;width:24px;height:24px;right:20px;text-indent:-999em;overflow:hidden;position:absolute;top:50%;margin-top:-12px;background-position:center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 3L10 8L5 13' stroke='%232D2D2D' style='stroke:%232D2D2D;stroke:color(display-p3 0.1765 0.1765 0.1765);stroke-opacity:1;' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
html .pika-table{margin:0.4rem 1.5rem 1.5rem 1.5rem;width:calc(100% - 3rem);}
html .pika-table th{color:#555;font-size:1.5rem;font-weight:400;height:4.2rem;padding-bottom:0.2rem;vertical-align: middle;}
html .pika-table td{padding:0.2rem 0;}
html .pika-table tr:last-child td{padding-bottom:0;}

html .pika-button{font-size:1.5rem;font-weight:400;height:40px;width:40px;color:#1d1d1d;border-radius:50%;}
html .pika-button:hover{background-color: #fff;color:#000;}
html .pika-button:hover,html  .pika-row.pick-whole-week:hover .pika-button{border-radius:50%;}
html .is-today .pika-button{font-weight:700;background-color: #fff;color:#1d1d1d;}
html .is-outside-current-month .pika-button{color:#717171;}
html .is-selected .pika-button{color:#378FD7;background-color: #F3FAFF;border-radius:50%;font-weight: 700;}
html .is-selected .pika-button:hover{background-color: #F3FAFF;color:#378FD7;border-radius:50%;}
html .is-selected .pika-button,html  .has-event .pika-button{box-shadow: none;}

html .toastify{color:#111B3D;font-size:1.4rem;padding:1.2rem 1.6rem;border-radius:0.6rem;box-shadow: 0.5rem 0.5rem 0.5rem rgba(5, 14, 44, 0.25);display: flex;align-items: center;}
html .toastify.info:before{content:"";;margin-right:1rem;display: inline-block;width:2rem;height:2rem;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10Z' fill='%23FF576B'/%3E%3Cpath d='M10 6v4M10 14h.01' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}
html .toastify.success:before{content:"";margin-right:1rem;display: inline-block;width:2rem;height:2rem;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 20c5.523 0 10-4.477 10-10s-4.477-10-10-10S.5 4.477.5 10s4.477 10 10 10Z' fill='%231EB793'/%3E%3Cpath d='m16 7-6.875 6.875L6 10.75' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");}

